<div class = "user_sigi_in">
<%= form_with(model: @user) do |f| %>

<%= f.label :お名前　%><br>
<%= f.text_field :name%><br>

<%= f.label :メールアドレス　%><br>
<%= f.text_field :mail %><br>

<%= f.label :パスワード　%><br>
<%= f.text_field :password %><br>

<%= f.label :パスワード確認　%><br>
<%= f.text_field :password_confirmation %><br>

<%= f.submit '登録' %>
<% end %>

</div>